.bride-groom-text, .hero .title.bride-groom-text {
  font-family: "Open Sans Condensed", cursive ;
}

.nama-lengkap {
  font-family: "Open Sans Condensed", cursive;
}

.ampersand {
  font-family: "Open Sans Condensed", cursive;
}

.navbar-custom {
  flex-direction: column;
  position: fixed !important;
  align-items: baseline !important;
}

.hero.is-large .hero-body {
  padding-top: 10em;
  min-height: 100vh;
}

.color-pink {
  color: #996E6D;
}

.momo-qr {
  width: 100px;
}

.font-family-custom {
  font-family: none;
  color: #151414;
}

.main-content .section-light, .main-content .section-dark, .main-content .section-darker {
  padding: 40px;
}

.min-height-unset {
  min-height: unset !important;
}


@media (max-width: 599px) {
  .hero.is-large .hero-body {
    padding-top: 1em;
  }

  .hero .title {
    font-size: 2rem;
  }

  .hero {
    background-position-x: center;
    background-size: 240%;
  }

  .nama-lengkap, .ampersand {
    font-size: 2rem;
  }

  .bodytext {
    font-size: 13px;
  }

  .d-mobile-none {
    display: none;
  }

  .ampersand {
    line-height: 0;
  }

  #home {
    padding-bottom: 0;
  }

  .main-content {
    padding-top: 0;
  }

  #regular-section {
    min-height: 100vh;
  }

  .custom-main-section {
    padding-top: 20px !important;
  }

  .main-content .section-title {
    padding-bottom: 0;
  }

  .main-content .section-light, .main-content .section-dark, .main-content .section-darker {
    padding-left: 5px;
    padding-right: 5px;
  }

  .mobile-pb-40 {
    padding-bottom: 40 !important;
  }

  .facebook-custom {
    font-size: 14px;
  }
}
